@font-face {
    font-family: america;
    src: url(./GT-America-Compressed-Bold\ \(1\).ttf);
}
@font-face {
    font-family: america-b;
    src: url(./GT-America-Compressed-Bold.ttf);
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
*::selection{
    color: #fff;
    background-color: #111;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: gilroy;
}
#nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    z-index: 99;

}

#nav h3{
    font-size: 2vw;
    text-transform: uppercase;
    font-family:america ;
    color: #c45508;

}
#page1 {
    position: relative;
    height: 100vh;
    background-image: url(./image.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;

}

#page1 svg{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
scale: 1.4;
z-index: 99;
cursor: pointer;

}
#page1 h1{
    font-size:15vw;
    width: 100%;
    text-transform: uppercase;
    color: #c45508;
    padding: 0 10px;
    position: absolute;
    align-items: center;
    bottom: -5%;
    font-weight: 900;
    scale: 1;
    z-index: 9;
    font-family: "america-b";

    cursor: pointer;
}
#page1 h1::before{
    content: "bownds ranches. est. 1885";
    position: absolute;
    font-size: 1vw;
    font-family: gilroy;
    font-weight: 400;
    left: 2vw;
    top: 10%;
    
}

#page1 h1::after{
    content: "MARKETING & SELLING TEXAS RANCHES";
    position: absolute;
    font-size: 1vw;
    font-family: gilroy;
    font-weight: 400;
    right: 5vw;
    top: 10%;
}

#scroll{
    background-image:url(https://bowndsranches.com/textures/buttonDarkBg.svg);
    position: absolute;
    scale: 0;
    padding: 8px 20px ;
    text-transform: uppercase;
    color: white;
    font-family: america;
    word-spacing: 5px;
    transition: all ease-out 0.1s;


}

#overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* background-color: #fff; */
}


#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
#page2 h1{
    font-size: 13vw;
    line-height: 9.7vw;
    word-spacing: -3px;
    letter-spacing: -4px;
    text-align: center;
    padding: 100px 50px;
    color: #111;
    background-color: #fff;
    font-family: america-b;
}



#page3{
    height: 100vh;
    width: 100%;
}